body {
	/*background: url("images/whitey.png") repeat;*/
	/*background: url("images/gridme.png") repeat;*/
}
.navbar-default {
    /* border-color: #6EBDEA !important; */
    /* background-image: linear-gradient(#FFFFFF, #F1F1F1 60%, #EAEAEA) !important; */
    border-color: #0622AD !important;
    /*background-image: linear-gradient(rgb(222, 238, 255), rgba(254, 255, 253, 0.37) 60%, rgb(216, 216, 216)) !important;*/
    background-image: linear-gradient(rgb(216, 135, 236), rgba(254, 255, 253, 0.37) 60%, rgb(216, 216, 216)) !important;
}
.palletup {
	border-top: 2px solid #000 !important;
	border-left: 2px solid #000 !important;
	border-right: 2px solid #000 !important;
	width: 120px !important;
	height: 80px !important;
}
.palletdown {
	border-bottom: 2px solid #000 !important;
	border-left: 2px solid #000 !important;
	border-right: 2px solid #000 !important;
	width: 120px !important;
	height: 80px !important;
}
.navbar {
    margin-bottom: 0px !important;
}
td .yes {
	/*background-color: yellowgreen !important;*/
	background-color: aquamarine !important;
	background-color: aquamarine;
	color: green;
}

.yes {
	/*background-color: yellowgreen !important;*/
	background-color: aquamarine !important;
	background-color: aquamarine;
	color: green;
}
.no {
	/*background-color: yellowgreen !important;*/
    background-color: khaki !important;
    color: crimson !important;

}